<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <hr />
            <app-servers></app-servers>
            <!-- ordinary selector -->
            <!--            <div app-servers></div>-->
            <!-- by attribute -->
            <!--            <div class="app-servers"></div>-->
            <!-- by class -->

            <hr />
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>

            <hr />
            <label>Username</label>
            <input type="text" class="form-control" [(ngModel)]="username" />
            <p>{{ username }}</p>
            <button class="btn btn-primary" [disabled]="username === ''" (click)="username = ''">Reset User</button>
        </div>
    </div>
</div>
